In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
import joblib

C:\Users\DELL\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\DELL\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:61: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [43]:
# 1. Load dataset
df = pd.read_csv("Entities.csv")

In [44]:
# 2. Initial exploration
print(df.head())
print(df.info())
print(df.isna().sum())

   Unnamed: 0  property_id  location_id  \
0           0       237062         3325
1           1       346905         3236
2           2       386513          764
3           3       656161          340
4           4       841645         3226

                                            page_url property_type     price  \
0  https://www.zameen.com/Property/g_10_g_10_2_gr...          Flat  10000000
1  https://www.zameen.com/Property/e_11_2_service...          Flat   6900000
2  https://www.zameen.com/Property/islamabad_g_15...         House  16500000
3  https://www.zameen.com/Property/islamabad_bani...         House  43500000
4  https://www.zameen.com/Property/dha_valley_dha...         House   7000000

      location       city      province_name   latitude  longitude  baths  \
0         G-10  Islamabad  Islamabad Capital  33.679890  73.012640      2
1         E-11  Islamabad  Islamabad Capital  33.700993  72.971492      3
2         G-15  Islamabad  Islamabad Capital  33.631486  72.926559      6
3    Bani Gala  Islamabad  Islamabad Capital  33.707573  73.151199      4
4  DHA Defence  Islamabad  Islamabad Capital  33.492591  73.301339      3

    purpose  bedrooms date_added         agency  \
0  For Sale         2   2/4/2019            NaN
1  For Sale         3   5/4/2019            NaN
2  For Sale         5  7/17/2019            NaN
3  For Sale         4   4/5/2019            NaN
4  For Sale         3  7/10/2019  Easy Property

                                          agent  Total_Area
0                                           NaN    1089.004
1                                           NaN   15246.056
2                                           NaN    2178.008
3                                           NaN   10890.000
4  Muhammad Junaid Ceo Muhammad Shahid Director    2178.008
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168446 entries, 0 to 168445
Data columns (total 18 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     168446 non-null  int64
 1   property_id    168446 non-null  int64
 2   location_id    168446 non-null  int64
 3   page_url       168446 non-null  object
 4   property_type  168446 non-null  object
 5   price          168446 non-null  int64
 6   location       168446 non-null  object
 7   city           168446 non-null  object
 8   province_name  168446 non-null  object
 9   latitude       168446 non-null  float64
 10  longitude      168446 non-null  float64
 11  baths          168446 non-null  int64
 12  purpose        168446 non-null  object
 13  bedrooms       168446 non-null  int64
 14  date_added     168446 non-null  object
 15  agency         124375 non-null  object
 16  agent          124374 non-null  object
 17  Total_Area     168446 non-null  float64
dtypes: float64(3), int64(6), object(9)
memory usage: 23.1+ MB
None
Unnamed: 0           0
property_id          0
location_id          0
page_url             0
property_type        0
price                0
location             0
city                 0
province_name        0
latitude             0
longitude            0
baths                0
purpose              0
bedrooms             0
date_added           0
agency           44071
agent            44072
Total_Area           0
dtype: int64

In [45]:
# 3. Drop rows (or columns) with missing values
# Option A: drop rows with ANY missing values
df_clean = df.dropna(axis=0, how='any').reset_index(drop=True)
# Option B: alternatively, drop columns with too many missingness first, then drop rows
# (But you said “do not use imputor”, so this is pure drop.)

print("Dropped rows. New shape:", df_clean.shape)

Dropped rows. New shape: (124374, 18)

In [46]:
df_clean.head()

,Unnamed: 0,property_id,location_id,page_url,property_type,price,location,city,province_name,latitude,longitude,baths,purpose,bedrooms,date_added,agency,agent,Total_Area
0,4,841645,3226,https://www.zameen.com/Property/dha_valley_dha...,House,7000000,DHA Defence,Islamabad,Islamabad Capital,33.492591,73.301339,3,For Sale,3,7/10/2019,Easy Property,Muhammad Junaid Ceo Muhammad Shahid Director,2178.008
1,7,1258636,3241,https://www.zameen.com/Property/e_11_e_11_4_ap...,Flat,7800000,E-11,Islamabad,Islamabad Capital,33.698244,72.984238,2,For Sale,2,5/5/2019,Ettemad Enterprises,Balqiaz Marwat,16879.562
2,8,1402466,376,https://www.zameen.com/Property/dha_defence_dh...,House,50000000,DHA Defence,Islamabad,Islamabad Capital,33.540894,73.095732,7,For Sale,7,10/19/2018,Easy Property,Muhammad Junaid Ceo Muhammad Shahid Director,5445.000
3,9,1418706,3282,https://www.zameen.com/Property/f_11_f_11_1_f_...,Penthouse,40000000,F-11,Islamabad,Islamabad Capital,33.679211,72.988787,5,For Sale,5,6/27/2019,Crown Associate,Abrar Ahmed,5445.000
4,10,1425602,429,https://www.zameen.com/Property/islamabad_dipl...,Flat,35000000,Diplomatic Enclave,Islamabad,Islamabad Capital,33.728873,73.119628,3,For Sale,3,6/3/2019,Al Sahar Estate,Zahid H. Usmani,19329.821

In [47]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124374 entries, 0 to 124373
Data columns (total 18 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     124374 non-null  int64
 1   property_id    124374 non-null  int64
 2   location_id    124374 non-null  int64
 3   page_url       124374 non-null  object
 4   property_type  124374 non-null  object
 5   price          124374 non-null  int64
 6   location       124374 non-null  object
 7   city           124374 non-null  object
 8   province_name  124374 non-null  object
 9   latitude       124374 non-null  float64
 10  longitude      124374 non-null  float64
 11  baths          124374 non-null  int64
 12  purpose        124374 non-null  object
 13  bedrooms       124374 non-null  int64
 14  date_added     124374 non-null  object
 15  agency         124374 non-null  object
 16  agent          124374 non-null  object
 17  Total_Area     124374 non-null  float64
dtypes: float64(3), int64(6), object(9)
memory usage: 17.1+ MB

In [48]:
df_clean=df_clean.iloc[:,[4,5,7,8,9,10,11,12,13,17]]

In [49]:
df_clean.head()

,property_type,price,city,province_name,latitude,longitude,baths,purpose,bedrooms,Total_Area
0,House,7000000,Islamabad,Islamabad Capital,33.492591,73.301339,3,For Sale,3,2178.008
1,Flat,7800000,Islamabad,Islamabad Capital,33.698244,72.984238,2,For Sale,2,16879.562
2,House,50000000,Islamabad,Islamabad Capital,33.540894,73.095732,7,For Sale,7,5445.000
3,Penthouse,40000000,Islamabad,Islamabad Capital,33.679211,72.988787,5,For Sale,5,5445.000
4,Flat,35000000,Islamabad,Islamabad Capital,33.728873,73.119628,3,For Sale,3,19329.821

In [50]:
from sklearn.preprocessing import LabelEncoder

In [51]:
df_clean.columns

Index(['property_type', 'price', 'city', 'province_name', 'latitude',
       'longitude', 'baths', 'purpose', 'bedrooms', 'Total_Area'],
      dtype='object')

In [52]:
string_cols=["property_type","city","province_name","purpose"]

In [53]:
encoder=LabelEncoder()

In [54]:
# 7. Label encode each selected column (explicitly as strings)
encoders = {}
for col in string_cols:
    le = LabelEncoder()
    # convert all to string first so LabelEncoder is deterministic
    df_clean[col] = le.fit_transform(df_clean[col].astype(str))
    encoders[col] = le
    print(f"Encoded '{col}' -> {len(le.classes_)} classes")

Encoded 'property_type' -> 7 classes
Encoded 'city' -> 5 classes
Encoded 'province_name' -> 3 classes
Encoded 'purpose' -> 2 classes

In [55]:
X = df_clean.drop("price",axis=1)
y = df_clean["price"]

In [56]:

# 5. Train / test split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [57]:
def slugify(name):
    name = str(name)
    name = name.strip()
    # replace non-alphanumeric with underscore
    return re.sub(r'[^0-9a-zA-Z_]+', '_', name)

In [58]:
# 6. Choose and train a model
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# 7. Evaluate
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print("MSE:", mse)
print("R²:", r2)

MSE: 265211908247625.16
R²: 0.8184272835145455

In [59]:
import os
import re

In [39]:
features_list=X.columns
feature_field_map = {col: slugify(col) for col in features_list}

In [40]:
features_list

Index(['property_type', 'city', 'province_name', 'latitude', 'longitude',
       'baths', 'purpose', 'bedrooms', 'Total_Area'],
      dtype='object')

In [41]:
feature_field_map

{'property_type': 'property_type',
 'city': 'city',
 'province_name': 'province_name',
 'latitude': 'latitude',
 'longitude': 'longitude',
 'baths': 'baths',
 'purpose': 'purpose',
 'bedrooms': 'bedrooms',
 'Total_Area': 'Total_Area'}

In [60]:
OUTPUT_DIR="models/"
joblib.dump(model, os.path.join(OUTPUT_DIR, "house_price_model.pkl"))
joblib.dump(features_list, os.path.join(OUTPUT_DIR, "model_features.pkl"))
joblib.dump(encoders, os.path.join(OUTPUT_DIR, "label_encoders.pkl"))
joblib.dump(feature_field_map, os.path.join(OUTPUT_DIR, "feature_field_map.pkl"))

print("Saved model and artifacts to", OUTPUT_DIR)
print("Files:")
for f in os.listdir(OUTPUT_DIR):
    print(" -", f)

Saved model and artifacts to models/
Files:
 - feature_field_map.pkl
 - house_price_model.pkl
 - label_encoders.pkl
 - model_features.pkl